<html ng-app>
<head>
    <title>This is page title</title>
    <style>
        .error{
            background-color: red;
        }
        .warning{
            background-color: yellow;
        }
    </style>
</head>
<body>
<div ng-controller="HeaderController">
    <div ng-class="{error:isError,warning:isWarning}">{{messageText}}</div>
    <button ng-click="showError();">Simulate Error</button>
    <button ng-click="showWarning()">Simulate Warning</button>
</div>
<script>
    function HeaderController($scope){
        $scope.isError = false;
        $scope.isWarning = false;
        $scope.showError = function(){
            $scope.messageText = 'This is an error';
            $scope.isError = true;
            $scope.isWarning = false;

        }
        $scope.showWarning = function(){
            $scope.messageText = 'Just a warning,Please carry on.';
            $scope.isError = false;
            $scope.isWarning = true;
        }
    }
</script>
<script src="http://libs.useso.com/js/angular.js/1.2.16/angular.min.js"></script>
</body>
</html>
